.banner {
    position: relative;
    align-self: center;
    margin-bottom: 3em;
    img{
        border-radius: 10px;
        filter: brightness(0.8);
        height: 233px;
        width: 100%;
    }
}

.banner_text {
    color: #fff;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    justify-content: center;
    h1{
        font-weight: 500;
        font-size: 48px;
      line-height: 68.45px;
    }
}  
  

  .banner_text_p1 {
    margin-right: 0.25em;
  }
  
  @media screen and (min-width: 345px) and (max-width: 767px) {
    /* .banner {
      margin: 0em 1.5em;
    } */
  
    .bannier{
      img {
        height: 111px;
      }
    }
    .banner_text {
      display: block;
      width: unset;
      text-align: left;
      padding-left: 1em;
      white-space: pre-wrap;
      h1{
        font-size: 24px;
        line-height: 10px;
      }
    }
  }